/* Meeting-Genius\client\src\components\Header.css */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4caf50, #81c784);
  color: white;
  padding: 10px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: 1000;
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
